/* $ border-color: #ef5050; */
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');


body{
background: #ffc0cb;
height: 100%;
margin: 0;
}
.birthdaycard{
    position: absolute;
    width: 450px;
    height: 600px;
    /* border: 10px solid #ef5050; */
    margin: 40px auto 60px 600px;
    box-shadow: -10px 20px 38px 28px #ff1493;
     /* page2 bg  */
    background-image: url(./imag/7.jpg);  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text{
        width: 80%;
        height: 80%;
        margin: auto;
        font-family: 'Zeyada';
        /* font-family: 'Courier New', Courier, monospace; */
        p{
            font-size: 19px;
            color: rgb(0,0,100);
            list-style: 1.4;
            font-style: italic;
            text-align: center;
            margin: 10px auto 0 auto;
            
        }
        .title {
            font-size: 2em;
            margin: 60px auto 60px auto;
        }

    }
    .cover-outer{
        position: absolute;
        width: 450px;
        height: 600px;
        margin: 0 0 0 -10px;
        /* border: 10px solid #ef5050; */
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;
    }
    img{
        box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        height: 610px;
        width: 450px;
    }

    .cover-inner{
        position: absolute;
        width: 450px;
        height: 600px;
        margin: -10px 0px 0px -15x;
        /* border: 10px solid #ef5050; */
        background-color: #130202;
        backface-visibility: visible;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
        transform-style: preserve-3d;
        transform-origin: 0% 50%;
        transform: perspective(800px) rotateY(0deg);
        transition: all 0.8s ease-in-out;
        overflow: hidden;

        p{
            z-index: 10;
            margin-top: 100px;
            margin-left: 150px;
        }
        img{
            transform: rotateY(170deg);
            height: 600px;
            width: 450px;
        }
    }

}

.birthdaycard:hover{
    .cover-outer{
        transform: perspective(800px) rotateY(-170deg);
    }
    .cover-inner{
        transform: perspective(800px) rotateY(-170deg);
        box-shadow: 7px 0 5px 0 rgba(0, 0, 0, 0.3),
        inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
}